PORT=3000
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=lista_precios
DB_USER=root
DB_PASSWORD=
CORS_ORIGIN=https://tu-dominio.com
SESSION_COOKIE_SAMESITE=none
ADMIN_USERNAME=hugorobles
ADMIN_PASSWORD_HASH=$2b$12$mtM6F7.KddjG8LC4bJaZkuICN2zYeTTTLb/y/i9LvOSwc9eKj5tBW
JWT_SECRET=REEMPLAZAR_POR_UNA_CLAVE_LARGA_Y_ALEATORIA
NODE_ENV=production
